APP_PASSWORD=clave_para_publicadores
ADMIN_PASSWORD=clave_para_administracion
SPREADSHEET_ID=id_del_google_sheet
GOOGLE_CLIENT_EMAIL=service-account@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
